*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Condensed', 'arial';
    font-size: larger;
    color: rgba(75, 75, 75, 1);
    background-color: rgba(255,255,255,1);
}
.div{
    background-color: rgba(0,0,0,0.02);
    border-radius: 1px;
    padding: 2px 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.3);
}
.b{
    font-weight: 600;
}
.container{
    padding: 5px 10px;
}
.fl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flend{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.flstart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.btn{
    border: 1px solid transparent;
    margin: 2px;
    padding: 6px 12px;
    background-image: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    border-color: rgba(150, 150, 150, 1);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s ease-in-out;
    z-index: 100;
    font: inherit;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(225,225,225,1));
    color: rgba(75, 75, 75, 1);
}
.btn:hover{
    background: linear-gradient(to bottom, rgba(240,240,240,1), rgba(210,210,210,1));
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 101;
    color: rgba(30, 30, 30, 1);
}
.btn:focus{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 100;
    border-color:rgb(20, 140, 220);
}
.btn-disabled{
    background: linear-gradient(to bottom, rgba(200,200,200,1), rgba(150,150,150,1));
}
.btn-disabled:hover{
    background: linear-gradient(to bottom, rgba(175,175,175,1), rgba(125,125,125,1));
}
.btn-primary{
    background: linear-gradient(to bottom, rgba(175,210,255,1), rgba(5, 125, 170, 1));
}
.btn-primary:hover{
    background: linear-gradient(to bottom, rgba(155,200,225,1), rgba(5, 110, 155, 1));
}
.btn-success{
    background: linear-gradient(to bottom, rgba(170, 235, 170, 1), rgba(70, 160, 70, 1));
}
.btn-success:hover{
    background: linear-gradient(to bottom, rgba(130, 215, 130, 1), rgba(50, 140, 50, 1));
}
.btn-info{
    background: linear-gradient(to bottom, rgba(90, 220, 255, 1), rgba(35, 140, 170, 1));
}
.btn-info:hover{
    background: linear-gradient(to bottom, rgba(70, 200, 235, 1), rgba(15, 120, 150, 1));
}
.btn-warning{
    background: linear-gradient(to bottom, rgba(255, 190, 70, 1), rgba(230, 150, 30, 1));
}
.btn-warning:hover{
    background: linear-gradient(to bottom, rgba(235, 170, 50, 1), rgba(210, 140, 10, 1));
}
.btn-danger{
    background: linear-gradient(to bottom, rgba(220,170,160,1), rgba(220,80,80,1));
}
.btn-danger:hover{
    background: linear-gradient(to bottom, rgba(200,160,140,1), rgba(200,60,60,1));
}
.btn-danger-o{
    background: rgba(255, 255, 255, 1);
    border-color: rgba(150, 60, 60, 1);
    color: rgba(150, 60, 60, 1);
}
.btn-danger-o:hover{
    background: rgba(255, 255, 255, 1);
    border-color: rgba(200, 60, 60, 1);
    color: rgba(200, 60, 60, 1);
}

.btn-link{
     background: rgba(255, 255, 255, 1);
     border: transparent;
 }
.btn-link:hover{
    background: rgba(255, 255, 255, 1);
    border: transparent;
    color: rgba(50, 130, 250, 1);
}
.btn-ok{
    background: rgba(114, 193, 114, 1);
    border: rgba(75, 75, 75, 1);
    color: #fff;
}
.btn-ok:hover{
    background: transparent;
    border: transparent;
    color: rgba(114, 193, 114, 1);
}
.btn-close{
    background: rgba(220, 119, 115, 1);
    border: rgba(75, 75, 75, 1);
    color: #fff;
}
.btn-close:hover{
    background: transparent;
    border: transparent;
    color: rgba(220, 119, 115, 1);
}
.btn-close-o{
    background-color: white;
    border: 3px solid grey;
    border-radius: 50%;
    /*position: absolute;top: 58px;left: 62px;*/
    position: relative;
    width: 13px;
    overflow: hidden;
    z-index: 101;
    color: rgba(220, 119, 115, 1);
    padding: 0 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn-close-o:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-close-o:hover > i{
    transition: all 0.2s ease-in-out;
    transform: rotate(90deg);
}
.btn-scrollup{
    border-radius: 100%;
    padding: 10px 5px;
}
a{
    -webkit-user-select: none;
    user-select: none;
}
.text-link{
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    color: rgba(75, 75, 75, 1);
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}
.text-link:hover{
    color: rgba(50, 130, 250, 1);
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
.hshadow{
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.hshadow:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.italic{
    font-style: italic;
}