<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= injection.title %></title>
</head>
<body>
<div class="fl">
    <h1 class="fl">Главная страница</h1>
</div>

<link href="http://<%= injection.httpHost + '/public/css/mymain.css' %>" rel='stylesheet' type='text/css'>

<link href="http://<%= injection.httpHost + '/public/fonts/roboto/roboto.css' %>" rel='stylesheet' type='text/css'>

<link href="http://<%= injection.httpHost + '/public/fonts/fontawesome/font-awesome.css' %>" rel='stylesheet'
      type='text/css'>

<script src="http://<%= injection.httpHost + '/public/js/jquery.min.js' %>"></script>
<script src="http://<%= injection.httpHost + '/public/js/mymain.js' %>"></script>

</body>
</html>
